{% extends 'base.html'%}
{% import 'macros.html' as macro %}
<!--Content block-->
{% block content %}
  <!-- General source -->
 <h3> General </h3>
 <ul>
     {{ macro.displayNewsList(general)}}
 </ul>
 <!-- Sports source  -->
 <h3> Sports </h3>
 <ul>
     {{ macro.displayNewsList(sports)}}
 </ul>
 <!-- Entertainment source -->
 <h3> Entertainment </h3>
 <ul>
     {{ macro.displayNewsList(entertainment)}}
 </ul>
 <!-- Business source -->
 <h3> Business </h3>
 <ul>
     {{ macro.displayNewsList(business)}}
 </ul>
 <!-- Technology source -->
 <h3> Technology </h3>
 <ul>
     {{ macro.displayNewsList(technology)}}
 </ul>
 <!-- Health source -->
 <h3> Health </h3>
 <ul>
     {{ macro.displayNewsList(health)}}
 </ul>
 <!-- Science source -->
 <h3> Science </h3>
 <ul>
     {{ macro.displayNewsList(science)}}
 </ul>

{% endblock %}
