{% macro displayNewsList(news_list) %}

    {% for news in news_list %}
    <div class="row">
     <ul>
       <li style="font-size:115%;"><a href="/news/{{news.id}}">{{news.name}}</a></li>
     </ul>
    </div>
        <!-- <li>{{news.name}}</li> -->
    {% endfor %}

{% endmacro %}


{% macro displayArticleList(articles_list)%}
{% for news in articles_list %}
<a href="{{news.url}}"><li>{{news.title}}</li></a>
<img src="{{news.urlToImage}}" alt="{{news.title}}" style="width:200px; height:200px;">
<p class="elite">{{news.description}}</p>
<p class="elite">{{news.author}}</p>
{% endfor %}
{% endmacro %}
